$black: rgba(black, 0.8);
$red: #E02954;
$blue: #7F7EFF;
$yellow: #EEC643;
$green: #1FFF7C;
$darkBlack: #3A2E39;

$primary-color: #6610f2;

$colors: (
	'red': $red,
	'blue': $blue,
	'yellow': $yellow,
	'green': $green,
	'primary': $primary-color,
	'darkBlack': $darkBlack,
);

@mixin media($width){
	@media only screen and (max-width: $width){
		@content;
	}
}

@mixin media-y($height){
	@media only screen and (max-height: $height){
		@content;
	}
}

$zIndex-window-alert: 1003;
$zIndex-share-answer-dialog-top-bar: 1002;
$zIndex-share-answer-dialog-content: 1001;
$zIndex-share-answer-dialog: 1000;
$zIndex-quickstart-dialog: 999;
$zIndex-mood-selector-dialog: 998;
$zIndex-go-to-top: 997;
$zIndex-router-content: 996;