@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');
@import '~swiper/css/swiper.css';
@import "~vue-toastification/dist/index.css";

@import "variables";
@import "values";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
}

::selection{
	background: #6610F2;
	color: white;
}

h1, h2, h3, h4, h5, h6, p, li{
	color: rgba(black, 0.7);

	i{
		font-size: .8em;
		margin-right: 5px;
	}
}